.outer {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
.parent {
  box-shadow: 0 0 10px #fff;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
}
.button {
  width: 100%;
}
.button button {
  width: 100%;
}
label {
  color: #fff;
}

.outer {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.parent {
  box-shadow: 0 0 10px #fff;
  padding: 20px;
  border-radius: 10px;
}

.button {
  width: 100%;
}

.button button {
  width: 100%;
}

label {
  color: #fff;
}
