.outer {
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  padding-top: 20px;
  padding-left: 32%;
  // bcz of justify-content --it is not working properly
}
.parent {
  box-shadow: 0 0 10px #fff;
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  background-color: transparent;
}
.button {
  width: 100%;
  height: auto;
}

.button button {
  width: 100%;
}
label {
  color: #fff;
}

.outer {
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  padding-left: 35%;
}
