<div class="outer">
    <div class="parent">
        <table >
          <thead>
             <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Gender</th>
                <th>Phone</th>
                <th>Batch</th>
                <th>District</th>
                <th>State</th>
                <th>Company Name</th>
                <th>Package</th>
                <th>Action</th>
             </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stu of studentForm;let i=index">
                <td>{{stu.id}}</td>
                <td>{{stu.name}}</td>
                <td>{{stu.gender}}</td>
                <td>{{stu.mobile}}</td>
                <td>{{stu.batch}}</td>
                <td>{{stu.address.district}}</td>
                <td>{{stu.address.state}}</td>
                <td>{{stu.company.name}}</td>
                <td>{{stu.company.package}}</td>
                <td><button (click)="delete(stu.id)">Delete</button></td>
            </tr>
          </tbody>
        </table>
    </div>
</div>