.parent {
  height: 100vh;
  width: 100vw;
  background-image: url("/assets/picture/login-background.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-left: 35px;
}
.form {
  background-color: transparent;
  height: 38%;
  width: 38%;
  padding: 20px;
  box-shadow: 0 0 15px #ddd;
  color: #fff;
}
.form:hover{
  transform: scale(1.005);
}
button{
    margin-top: 16px;
    width: 100px;
}