html,body{
    margin: 0;
    padding: 0;
}

.display-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.error{
    color: red;
    text-align: center;
}
.error-box{
    position: absolute;
    z-index: 5;
    display: flex;
    justify-content: end;
    padding-left: 160px;
}

.text-align{
    text-align: center;
    color: #f4f4f4;
}
.err{
    color: red;
  padding-left: 37%;
}